<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Natural Language Processor</title>
  </head>
  <body>
    <header>This will be a header</header>
    <main>
      <section>
        <!-- Form -->
        <form>
          <label for="url">Enter URL to process</label>
          <input id="url" type="text" placeholder="http://anniepennell.com/" />
          <button type="submit" onclick="return Client.handleSubmit(event)">
            Process
          </button>
        </form>
      </section>
      <section>
        <!-- Response results -->
      </section>
    </main>
    <footer>This will be the footer</footer>
  </body>
</html>
