<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Natural Language Processor</title>
  </head>
  <body>
    <header>
      <h1>Natural Language Processor</h1>
    </header>
    <main>
      <section>
        <!-- Form -->
        <form>
          <label for="url-input" class="">Enter URL to process</label>
          <input
            id="url-input"
            type="url"
            placeholder="http://anniepennell.com/"
          />
          <label for="url-input" class="error hidden"
            >Please enter a valid url.</label
          >
          <button type="submit" onclick="return Client.handleSubmit(event)">
            Analyze Content
          </button>
        </form>
      </section>

      <section id="processing" class="hidden">
        <p>Analyzing "<span></span>"</p>
      </section>

      <section id="results" class="hidden">
        <h2>Results of Sentiment Analysis</h2>
        <p class="results-subheader">
          We analyzed <a id="results-link"></a> and found the overall polarity
          to be <span id="polarity" class="strong"></span>.
        </p>
        <h3>Additional findings</h3>
        <p id="subjectivity">
          Subjectivity:
          <span class="result-label">Subjective</span>
          <span class="result-label">Objective</span>
        </p>
        <p id="irony">
          Irony:
          <span class="result-label">Ironic</span>
          <span class="result-label">Nonironic</span>
        </p>
        <p id="agreement">
          Agreement:
          <span class="result-label">Agreement</span>
          <span class="result-label">Disagreement</span>
        </p>

        <p id="confidence">
          Level of confidence in findings:
          <span class="strong"></span>
        </p>
      </section>

      <section id="no-results" class="hidden">
        <p>
          We tried to process <a></a> but were unable to find contents to
          analyze.
        </p>
      </section>
    </main>
    <!-- TODO: -->
    <!-- <footer>This  will be the footer</footer> -->
  </body>
</html>
