.hidden {
  display: none;
}

.strong {
  font-weight: bold;
}

.result-label {
  margin: 0.5rem;
  padding: 0.5rem;
  color: green;
  border: 0.125rem solid green;
  border-radius: 4px;

  &-negative {
    color: lightgray;
    border-color: lightgray;
  }
}

.finding {
  padding: 0.625rem 0;

  .result-label:last-of-type {
    @extend .result-label-negative;
  }

  &-negative {
    padding: 0.625rem 0;

    .result-label:first-of-type {
      @extend .result-label-negative;
    }
  }
}
